@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Color tokens */
:root {
  --accent: #9caf64;
  --background: #ffffff;
  --background-hover: #e5e5e5;
  --background-code: #e5e5e5;
  --text-header: #4a4a4a;
  --text-primary: #171717;
  --text-secondary: #a1a1a1;
  --text-tertiary: #6a7e87;
  --overlay-background: #0a0a0a; /* mobile menu */
}

.dark {
  --accent: #9caf64;
  --background: #0a0a0a;
  --background-hover: #18181b;
  --background-code: #404040;
  --text-header: #ededed;
  --text-primary: #ededed;
  --text-secondary: #a1a1a1;
  --text-tertiary: #6a7e87;
}

/* OffBit Bold  */
@font-face {
  font-family: "OffBit Bold";
  src:
    url("https://f6ciazohrats9a1e.public.blob.vercel-storage.com/fonts/OffBit-Bold.woff2")
      format("woff2"),
    url("https://f6ciazohrats9a1e.public.blob.vercel-storage.com/fonts/OffBit-Bold.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  /* Colors */
  --color-accent: var(--accent);
  --color-background: var(--background);
  --color-background-hover: var(--background-hover);
  --color-background-code: var(--background-code);
  --color-header: var(--text-header);
  --color-primary: var(--text-primary);
  --color-secondary: var(--text-secondary);
  --color-tertiary: var(--text-tertiary);
  --color-overlay: var(--overlay-background);

  /* Spacing */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 12px;
  --spacing-lg: 16px;
  --spacing-xl: 24px;

  /* Fonts */
  --font-header: "OffBit Bold", sans-serif;
  --font-navigation: var(--font-ibm-plex-mono), monospace;
  --font-content: var(--font-inter), sans-serif;
}

body {
  background: var(--background);
  color: var(--text-primary);
}
