@import "tailwindcss";
:root {
    --background: #ffffff;
    --foreground: #171717;
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --font-offbit: "Offbit Trail", sans-serif;
}

@media (prefers-color-scheme: dark) {
     :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

@font-face {
    font-family: "Offbit Trail";
    src: url("/fonts/OffBit-Bold.woff2") format("woff2"), url("/fonts/OffBit-Bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

body {
    background: var(--background);
    color: var(--foreground);
}

.font-offbit {
    font-family: var(--font-offbit);
}

.masonry-grid {
    display: flex;
    margin-left: -2rem;
    margin-right: -1rem;
    /* mobile horizontal gap (px-2) */
}

@media (min-width: 640px) {
    .masonry-grid {
        margin-left: -3rem;
        /* desktop horizontal gap (px-4) */
    }
}

.masonry-column {
    padding-left: 1rem;
    /* mobile horizontal gap */
}

@media (min-width: 640px) {
    .masonry-column {
        padding-left: 2rem;
        /* desktop horizontal gap */
    }
}


/* Vertical gap between images */

.masonry-column>div {
    margin-bottom: 1rem;
    /* mobile vertical gap */
}

@media (min-width: 640px) {
    .masonry-column>div {
        margin-bottom: 2rem;
        /* desktop vertical gap */
    }
}